@charset "UTF-8";
/* ========================================================================================= */
/* 00 SETTINGS: Configuración y declaración de variables */
/* ========================================================================================= */
/* ========================================================================================= */
/* 01 GENERIC: Código genérico (reset, normalize u otros estilos globales) */
/* ========================================================================================= */
/* vietnamese */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v27/HhyJU5sn9vOmLxNkIwRSjTVNWLEJabMl1BMEbKsUPqjmG8Q.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v27/HhyJU5sn9vOmLxNkIwRSjTVNWLEJabMl1RMEbKsUPqjmG8Q.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v27/HhyJU5sn9vOmLxNkIwRSjTVNWLEJabMl2xMEbKsUPqjm.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
a {
  color: #FF6600;
  text-decoration: none;
}
a:hover {
  color: #FF9900;
  text-decoration: underline;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1.4;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.4;
  overflow-y: auto !important;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.c-landing {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  position: absolute;
  font-family: "Dosis", sans-serif;
}
.c-landing__container {
  padding: 1em;
  display: grid;
  justify-items: center;
  text-align: center;
  align-self: center;
}
.c-landing__image {
  height: 100%;
  width: auto;
  max-height: 37vh;
  max-width: 100%;
}
.c-landing__title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;
}
.c-landing__text {
  font-size: 1em;
  margin-top: 1em;
}

/*# sourceMappingURL=styles.css.map */
